<div class= container>
		<div class = content>
			<% n = 0%>
			<% @result['recipes'].each do |recipe|%>
			<div class = "card card_<%= n%4 %>">
				<div class = card_content>
					<div class = pretty_img>
						<%= link_to image_tag(recipe['image_url']), recipe['source_url']  %>
					</div>
					<div class = title>
						<%= link_to sanitize(recipe['title']), recipe['source_url'] %>
					</div>
					<div class = social_rank>
						<%= recipe['social_rank'] %>
					</div>
			    </div>
			</div>
			<% n += 1%>
			<% end %>
		    <%if @result['recipes'] == []%>
			<div>
			   There are no more results! Go back to former pages or try new keywords!
			</div>
			<% end %>
	    </div>
</div>
	
<summary>
	<h1>Recipes: search result for " <%= @to_search %> "</h1>
	<% if @result['count'] == 0 && @page == '1' %>
	Emmm....Sorry, we have found no recipes about <%= @to_search %>... 
	Try other keywords?
	<% else %>
	Wow! We have found lots of delicious recipes! 
	Showing the top <%= @result['count'] %> results in page <%= @page %>.
    <% end %>

    <a href = <%=recipes_index_path(search: @to_search, page: @page.to_i) %>>
      <button id = pretty>back original mode</button>
    </a>
    <div class = search_form>
	Try another one?	
	<%= form_tag(recipes_pretty_path, method: "get") do %>
	  <%= label_tag(:search, "Search for:") %>
	  <%= text_field_tag(:search) %>
	  <%= submit_tag("Search") %>
	<% end %>
	</div>

	<p>Powered By Food2Fork.com</p>
</summary>

<a href = <%=recipes_pretty_path(search: @to_search, page: @page.to_i - 1) %>>
  <button id = last>last page</button>
</a>
<a href = <%=recipes_pretty_path(search: @to_search, page: @page.to_i + 1) %>>
  <button id = next >next page</button>
</a>

